@font-face{
	font-family: myfont;
	src: url('../fonts/sxslst.ttf'); 
}

body {
	font-family: myfont;
	background: black;
}

p ,h1 ,h2 ,h3 ,label, span,{
	font-family: myfont;
}

#section0,
#section1,
#section2,
#section3,
#section4,
#section5{
	background-size: cover;
}
#section0 {
	background-image: url(../images/back1.png);
}
#section1 {
	background-image: url(../images/back3.png);
}
#section2 {
	background-image: url(../images/bg_Theme99-hd.png);
}
#section3 {
	background-image: url(../images/back7.png);
}
#section4 {
	background-image: url(../images/back17.png);
}
#section5 {
	background-image: url(../images/back18.png);
	background-repeat: no-repeat;
	background-size:100% 100%;
}
#fullPage-nav ul, .fullPage-slidesNav ul{
	margin-top:100px;
}

#fullPage-nav li, .fullPage-slidesNav li{
	right:-26%;
	margin:40px;
}
#fullPage-nav span, .fullPage-slidesNav span {
	width:10px;
	height:10px;
}
.controlArrow.prev {
	left:-5%;
	top:61%;
}
.controlArrow.next{
	right:-5%;
	top:61%;
}
#section0{
	height: 100px;
}
#playbtn{
	position:absolute;
	bottom:20%;
	left:38%;
}