@font-face{
	font-family: myfont;
	src: url('../fonts/sxslst.ttf'); 
}

body {
	font-family: myfont;
	background: black;
	background-image: url(../images/back18.png);
	background-repeat: no-repeat;
	background-size:100% 100%;
}

p ,h1 ,h2 ,h3 ,label, span,{
	font-family: myfont;
}
.title{
	position:fixed;
	z-index:5;
	top:6%;
	left:5%;
	font-size:60px;
	color:#fcf71f;
	-webkit-text-stroke: 3px #000000;
}
.info{
	font-family: myfont;
	position:absolute;
	left:50%;
}
#playbtn{	
	position:absolute;
	bottom:10%;
	left:20%;
}
#exitbtn{
	position:absolute;
	bottom:10%;
	right:20%;	
}
#avatar{
	position:absolute;
	top:33%;
	left:25%;
}
#goback{
	position: fixed;
	right:10px;
}