@font-face{
	font-family: myfont;
	src: url('../fonts/sxslst.ttf'); 
}

body {
	font-family: myfont;
	background: black;
}

p ,h1 ,h2 ,h3 ,label, span,{
	font-family: myfont;
}

#back{	
	width:100%;
	height:100%;
}
#v{
	position: absolute;
	top:50%;
	left:45%;
	width: 10%;
}
#s{
	position: absolute;
	top:50%;
	left:45%;
	width: 10%;
}
#player1{
	position: absolute;
	top:50%;
	left:25%;
}

#player2{
	position: absolute;
	top:50%;
	right:15%;
}
#avator1{
	position: float;
	width:50%;
}
#name1{
	position: float;
	margin-top:5px;
}
#level1{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:blue;
	font-size: 10pt;
	margin-top: -16px;
	margin-left:20px;
}
#avator2{
	position: float;
	width:50%;
}