<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>TestWebApp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>Connection Pool</description>
		<res-ref-name>jdbc/DBWater</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<servlet>
		<servlet-name>userLogIn</servlet-name>
		<servlet-class>com.taiko.account.UserLogInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userLogIn</servlet-name>
		<url-pattern>/account/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>userRegister</servlet-name>
		<servlet-class>com.taiko.account.UserRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userRegister</servlet-name>
		<url-pattern>/account/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>quickStart</servlet-name>
		<servlet-class>com.taiko.process.QuickStartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>quickStart</servlet-name>
		<url-pattern>/process/quickstart</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>shake</servlet-name>
		<servlet-class>com.taiko.process.ShakeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>shake</servlet-name>
		<url-pattern>/process/shake</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>shakeInvite</servlet-name>
		<servlet-class>com.taiko.process.ShakeInviteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>shakeInvite</servlet-name>
		<url-pattern>/process/invite</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>shakeResponse</servlet-name>
		<servlet-class>com.taiko.process.ShakeResponseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>shakeResponse</servlet-name>
		<url-pattern>/process/response</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>selectMusic</servlet-name>
		<servlet-class>com.taiko.process.SelectMusicServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>selectMusic</servlet-name>
		<url-pattern>/process/selectmusic</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>score</servlet-name>
		<servlet-class>com.taiko.process.ScoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>score</servlet-name>
		<url-pattern>/score/score</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>result</servlet-name>
		<servlet-class>com.taiko.process.ResultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>result</servlet-name>
		<url-pattern>/score/result</url-pattern>
	</servlet-mapping>
</web-app>