@font-face{
	font-family: myfont;
	src: url('../fonts/sxslst.ttf'); 
}

body {
	font-family: myfont;
	background: black;
}

p ,h1 ,h2 ,h3 ,label, span,{
	font-family: myfont;
}

#section0,
#section1,
#section2{
	background-size: cover;
}
#section0 {
	background-image: url(../images/back1.png);
}
#section1 {
	background-image: url(../images/back3.png);
}
#section2 {
	background-image: url(../images/bg_Theme99-hd.png);
}
#fullPage-nav ul, .fullPage-slidesNav ul{
	margin-top:100px;
}

#fullPage-nav li, .fullPage-slidesNav li{
	right:-17%;
	margin:30px !important;
}
#fullPage-nav span, .fullPage-slidesNav span {
	width:10px;
	height:10px;
}
.controlArrow.prev {
	left:-5%;
	top:61%;
}
.controlArrow.next{
	right:-5%;
	top:61%;
}
#section0{
	height: 100px;
}
#title{
	position:fixed;
	z-index:5;
	top:6%;left:5%;
	font-size:60px;
	color:#fcf71f;
	-webkit-text-stroke: 3px #000000;
}
#title1{
	position:absolute;
	z-index:6;
	top:23%;
	left:24%;
	font-size:30px;
	color:#000000;
}
#box1{
	position:absolute;
	top:30%;
	left:35%;
	width:340px;
	height:340px;
}

div > label > p{
	margin-left:47%;
	padding-top:20%;
}
#id_switchrepaint{
	background:url(../images/repaint.png) no-repeat;
	background-size:60%;
	position:absolute;
	bottom:-36%;
	left:26%;
	width:80%;
	height:28%;
	border:0;
	outline:none;
}
#title2{
	position:absolute;
	z-index:6;
	top:23%;
	left:24%;
	font-size:30px;
	color:#000000;
}
#box2{
	position:absolute;
	top:33%;
	left:35%;
	width:340px;
	height:340px;
}
#id_switchrepaint2{
	background:url(../images/repaint.png) no-repeat;
	background-size:60%;
	position:absolute;
	bottom:-30%;
	left:26%;
	width:80%;
	height:28%;
	border:0;
	outline:none;
}
#title3{
	position:absolute;
	z-index:6;
	top:40%;
	left:24%;
	font-size:30px;
	color:#000000;
}
#loginsubmitbtn{
	background:url(../images/submit.png) no-repeat;
	position:absolute;
	top:50%;
	left:40%;
	width:20%;
	height:16%;
	border:0;
	outline:none;
}
#welcome{
	font-family: myfont;
	position:absolute;
	top:40%;
	left:30%;
}
#showdrum0{
	position:fixed;
	top:26%;
	right:10px;
	width:60px;
}
#showdrum1{
	position:fixed;
	bottom:26%;
	right:10px;
	width:60px;
}

#playbtn{
	position:absolute;
	bottom:20%;
	left:38%;
}